
	
.edit_form, .detail_page {
	background-color: white;
	padding: 20px;
	border-radius: 20px;
	max-width: 900px;
	margin-block: 40px 150px;
}

.form_flex {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 20px;
	
}


.form_description {
	color: #051759;
	font-weight: 600;
}
.input_container {
 padding: 10px 20px;

}

.two-column{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;

}

.container_divider {
	background-color:#E7E8EE;
	width: 100%;
	
	display: block;
	height: 2px;
	margin: 10px 0;
}

label {
	margin-top: 10px;
	display:block;
	font-size: 14px;
	color: #777A8D;
	
}

.detail_page {
p{
		margin-bottom: 15px;
		max-width: 650px;
		
	
	 word-wrap: break-word;
	white-space: normal;
	}
	
}
		
		
	


input, textarea, select {
	width: 100%;
	margin: 0 0 5px 0;
	padding: 10px 10px 10px 5px;
	background-color: #E7E8EE;
	border: 1px solid #E7E8EE;
	border-radius: 10px;
	font-size: 14px;
	font-family: "Poppins", sans-serif;
	
}

.float-right {
	display:flex;
	justify-content: flex-end;
	gap: 15px;
	
}



	.dynamicInput{
		display: flex;
	}
	

.dynamicInput > input {
	margin-right: 15px;
}



.dynamicInput > button {
	border: none;
	padding: 3px 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	background: none;
	
	
}

.dynamicInput > button:hover {
	background-color: #DFEAFF;
}

.dynamicInput > i {
	font-size: 20px;
	color: #051759;
}

.customBtn {
	border: 1px solid #7296E8;
	padding: 10px 5px;
	border-radius: 10px;
	background: #7296E8;
	color: white;
	margin-block: 10px;
	
}

.customBtnn:hover>i {
	color: white;
}

.customBtn:hover {
	border: 1px solid #02369C;
	color: #02369C;
}
.customBtn:hover>i {
	color: #02369C;
}


.schrittvalue {
	 background-image: url('/images/bars-solid-full.svg');
	 background-repeat: no-repeat;
	 background-position: bottom 10px right 10px;
	 background-size: 22px;
}








