
/*globale Styles*/
html {
	margin: 0;
}

h1, h2, h3, h4, h5, p, button, a {
	margin: 0;
}

body {
	margin: 0;
	box-sizing: inherit;
	width: 100%;
	background-color: #F6F7FB;
	font-family: "Poppins", Sans-serif;
}


h1 {
	color: #051759;
	font-size: 38px;
	font-weight: 600;
}

h2 {
	color: #494B53;
	font-size: 16px;
	font-weight: 700;
}

p {
	
	font-size: 14px;
}

a {
	text-decoration: none;
}

button {
		font-family: "Poppins", Sans-serif;
}

/*global Styling (components)*/
.primaryBtn {
	padding: 10px 15px;
	border: none;
	border-radius: 10px;
	background-color: #1154ED;
	color: white;
	text-decoration: none;
}

.primaryBtn:hover {
	background-color: #7296E8;
	transition: ease-in-out 0.1s;
}
.primaryBtn:active {
	background-color: #02369C;
	transition: ease-in-out 0.1s;
	
}

.secondaryBtn {
	padding: 10px 15px;
	border-radius: 10px;
	background-color: #F6F7FB;
	color: #4B5767;
	border: 1px solid #4B5767;
	
}

.secondaryBtn:hover {
	color: #02369C;
	border: 2px solid #02369C;
}


.secondaryBtn:active {
	background-color: #DAE1E9;
	
}


.creator {
	display: flex;
	align-items: center;
}
.creator >img{
	width: 25px;
	margin-right: 10px;
}

.chip{
	font-size: 14px;
	background-color: #DFEAFF;
	color:#02369C;
	padding: 3px 8px;
	border-radius: 10px;
	display: inline-block;
	
}

ul {
	font-size: 14px;
	margin-block: 7px;
}

/*layout*/
body {
	display:grid;
	grid-template-columns: 2fr 9fr;
}

nav {
	background-color: #FFFFFF;
	padding: 30px 20px 0 30px;
	
}

.contentWrapper {
	padding: 50px 50px 0 50px;
}



/*nav styling*/
.logo_container{
	display:flex;
	 align-items: center;
	 margin-bottom: 50px;
	
}




.logo_container > p {
		color: #131416;
		font-weight: 700;
		font-size: 21px;
		padding-left: 10px;
		
	
}

.link_container {
	
	
	
}

.link_container > p{
	margin-bottom: 20px;
}

.link_list {
	margin: 0;
	padding-left: 0;
	list-style: none;
	}

.list_items {
	margin-bottom: 30px;
	color: #051759;
	
}

.list_items >a > i {
	margin-right:10px;
}

.list_items:hover {
	cursor: pointer;
	font-weight: 600;
	transition: ease-in-out 0.1s;

}

.list_items:hover {
	cursor: pointer;
}


/*user*/

.welcome-container {
	background-color: #FFFFFF;
	max-width: 585px;
	padding: 25px;
}
.welcome-text{
	color: #777A8D;
	font-size: 18px;
}
.scrollmenu{}
.user-info{
	background-color: #F6F7FB;
	display:flex;
	margin: 20px 0;
	align-items:center;
	padding: 16px;
	border-radius: 15px;
	border: 1px solid #F6F7FB; 
}

.user-info:hover {
		background-color: #DFEAFF;
		transition: ease-in-out 0.2s;
	
}

.selected {
	border: 1px solid #051759; 
	background-color: #DFEAFF;
	
}

.user-info > img {
	width: 60px;
	height: 60px;
	margin-right: 20px;
	
}

.user-text{
	color: #4B5767;
}


.user-button {

	font-family: "Poppins", sans-serif;
	background-color: #1154ED;
	color:#E7EAF2;
	border:none;
	border-radius: 25px;
	padding: 10px 20px;
	font-size: 18px;
}

.user-button:hover {
		background-color: #02369C;
		transition: ease-in-out 0.2s;
	
}





