.header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

.header > h1{
	font-weight: 600;
	
}

.new_button {
	font-size: 20px;
}

.card_container {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;

}

.card {
	display:grid;
	grid-template-rows: 1fr 3fr 1fr;
	gap: 10px;
	background-color: white;
	border-radius: 20px;
	padding: 30px 20px 20px 20px;
	width: 365px;
	max-height: 240px;
}

.card> h2{
	margin-top: 10px;
}
.card_center {
	p {
	 	overflow: hidden; 
      	white-space: nowrap; 
		max-width: 330px;
		max-height: 60px;
		word-wrap: break-word;
		white-space: normal;
		
		
	}
}


.card_bottom {
	margin-bottom:  0;
	margin-top:  auto;
	display: flex;
	justify-content: space-between;
}

.button_detail {
	background-color: #777A8D;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 5px 20px;
	text-decoration: none;
}
.button_detail:hover {
	background-color: #4E7BE2;
		transition: ease-in-out 0.1s;
	
}

.button_detail:active {
	background-color: #02369C;	
		transition: ease-in-out 0.1s;
	
}



