/*user*/
.welcome-body {
	display: flex;
	justify-content: center;
}
.welcome-container {
	
	background-color: #FFFFFF;
	max-width: 585px;
	padding: 25px;
	margin-top: 20px;
	border-radius: 20px;
}
.welcome-text{
	color: #777A8D;
	font-size: 18px;
}
.scrollmenu{
	max-height: 500px;
	overflow-y: scroll;
}
.user-info{
	background-color: #F6F7FB;
	display:flex;
	margin: 20px 0;
	align-items:center;
	padding: 16px;
	border-radius: 15px;
	border: 1px solid #F6F7FB; 
}

.user-info:hover {
		background-color: #DFEAFF;
		transition: ease-in-out 0.2s;
	
}

.selected {
	border: 1px solid #051759; 
	background-color: #DFEAFF;
	
}

.user-info > img {
	width: 60px;
	height: 60px;
	margin-right: 20px;
	
}

.user-text{
	color: #4B5767;
	width: 300px;
	
}


.user-button {
	font-family: "Poppins", sans-serif;
	background-color: #1154ED;
	color:#E7EAF2;
	border:none;
	border-radius: 25px;
	padding: 10px 20px;
	font-size: 18px;
	
}

.user-button:hover {
		background-color: #02369C;
		transition: ease-in-out 0.2s;
	
}

.roles {
	display: flex;
	gap: 20px;
}





