   <!DOCTYPE html>
   <html xmlns:th="http://www.thymeleaf.org">
   <head>
       <title>Anfordung: Edit</title>
   </head>
   <body>
		<h1>Anforderung bearbeiten</h1>
		
   		
   		<form action="#" th:action="@{/anforderung/update/{id}(id=${anforderung.id})}" th:object="${anforderung}" method="post">
		    <label for="title">Name:</label>
		    <input type="text" id="title" th:field="*{title}" required />
		
		    <br/>
		
		    <label for="beschreibung">Beschreibung:</label>
		    <textarea id="beschreibung" th:field="*{beschreibung}" required></textarea>
		    
			<br/>
		
			<h3>Aktuelle Kriterien:</h3>
			
			<div th:each="kriterium, iterStat : *{akzeptanzkriterien}">
				<input type="hidden" th:field="*{akzeptanzkriterien[__${iterStat.index}__].id}"/>
			    <label>Kriterium Bezeichnung:</label>
			    <input type="text" th:field="*{akzeptanzkriterien[__${iterStat.index}__].beschreibung}"/>
   
			</div>
		
			
			
		    
		   
		    <button type="submit">Anforderung speichern</button>
		</form>
       
     
   </body>
   </html>