	<div class="contentWrapper anf_neu">  
       <h1>Anforderung - Neu</h1>
       
       
       <form th:action="@{/anforderung/save}" th:object="${anforderung}" class="edit_form" method="post">
       		<input type="hidden" name="erstellerId" th:value="${currentUser.id}" />
       		
       		<div class="form_flex">
       			<p class="form_description">Allgemeine Informationen</p>
       			<div class="input_container two-column">
       				<div>
	       				<label for="title">Name:</label>
			    		<input type="text" id="title" th:field="*{title}" />
			    		<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error">jdjd</div>
		    		</div>
		    		<div>
			    		<label for="priotiät">Priorität:</label>
			    		<select th:field="*{prioritaet}" id="priotiät">
					        <option value="" selected>Bitte wählen</option>
					        <option th:each="p : ${prioritaeten}"
					                th:value="${p}"
					                th:text="${p.displayName}">
					        </option>
			    		</select>
		    		</div>
		    		<div>
			    		<label for="kategorie">Katgegorie:</label>
				   		<select th:field="*{kategorie}" id="kategorie">
					        <option value="" selected>Bitte wählen</option>
					        <option th:each="k : ${kategorien}"
					                th:value="${k}"
					                th:text="${k}">
					        </option>
			    		</select>
		    		</div>
       			</div>
       		</div>
       		<span class="container_divider"></span>
       		<div class="form_flex">
       			<p class="form_description">Inhalt der Anforderung</p>
       			<div class="input_container">
	       			<label for="beschreibung">Beschreibung:</label>
	       			
			    	<textarea id="beschreibung" th:field="*{beschreibung}" required></textarea>
			    	<div th:if="${#fields.hasErrors('beschreibung')}" th:errors="*{beschreibung}" class="error"></div>
					
					
					<label for="quelle">Quelle der Anforderung:</label>
					
				    <input type="text" id="quelle" th:field="*{quelle}"  />
				    <div th:if="${#fields.hasErrors('quelle')}" th:errors="*{quelle}" class="error"></div>
				    <br/>
				    
				    <label for="notizen">weitere Notizen:</label>
		   			<textarea id="notizen" th:field="*{notizen}" ></textarea>
       			</div>
       		</div>
       		
       		<span class="container_divider"></span>
       		<div class="form_flex">
       			<p class="form_description">Validierung & Bezug</p>
       			<div class="input_container">
       				<label for="neuesKriterium">Neues Akzeptanzkriterien</label>
				   	<div id="kriteriencontainer">
				   		<div th:each="kriterium, iterStat: *{kriterien}"  class="kriterium dynamicInput">
					       
					        <input type="hidden" th:field="*{kriterien[__${iterStat.index}__].id}"/>
					
					        <!-- Weitere Felder -->
					        <input type="text" th:field="*{kriterien[__${iterStat.index}__].beschreibung}" />
					        <button  onclick="loescheKriterium(this.parentElement)"><i class="fa-solid fa-trash"></i></button>
					     </div>
				   	</div>
					
					<button type="button" onclick="hinzufuegenKriterium()" value="hinzufuegen" class="kriteriumBtn customBtn">
					<i class="fa-solid fa-plus"></i>
					Neues Kriterium</button>
				
					
       			</div>
       		</div>
       		<div class="float-right">
       		 <button type="submit" class="primaryBtn">Anforderung speichern</button>
			</div>
		</form>
		
</div>