   <!DOCTYPE html>
   <html xmlns:th="http://www.thymeleaf.org">
   <head>
       <title>Anfordung: Details</title>
   </head>
   <body>
		<h1>Anforderungdetails</h1>
   		<p th:text="${anforderung.title}">name</p>
   		
   		<h3>Aktuelle Kriterien:</h3>
			<ul>
			   <li th:each="k : ${anforderung.akzeptanzkriterien}" th:text="${k.beschreibung}"></li>
			</ul>
			
       
       	<a th:href="@{/anforderung/edit/{id}(id=${anforderung.id})}">
       		<button>Änderungen</button>
       	</a>
   </body>
   </html>