 
	<div class="contentWrapper anf_edit">  
		<h1>Anforderung bearbeiten</h1>
		
   		
   		<form th:action="@{/anforderung/handleForm/{id}(id=${anforderung.id})}" class="edit_form" th:object="${anforderungDto}" method="post">
   			<input type="hidden" th:field="*{id}"/>
   			
   			
   			<div class="form_flex">
   				<p class="form_description">Allgemeine Informationen</p>
   				<div class="input_container two-column">
	   				<div>
					    <p th:text="${anforderung.nr}" class="chip"></p>
	   				</div>   				
	   				<div class="creator">
	   					<img th:src="@{${anforderung.ersteller.profileImagePath}}"/>
	   					<p th:text="'erstellt von '+${anforderung.ersteller.vorname} "></p>
			   		</div>  				
			   		<div>
		   				<label for="title">Titel:</label>
					    <input type="text" id="title" th:field="*{title}" required />
	   				</div>
	   
	   				<div>
			    		<label for="priotiät">Priorität:</label>
			    		
			    		
			    		<select th:field="*{prioritaet}" id="priotiät">
					        <option value="" selected>Bitte wählen</option>
					        <option th:each="p : ${prioritaeten}"
					                th:value="${p}"
					                th:text="${p.displayName}">
					        </option>
			    		</select>
			    	</div>
			    	<div>
			    		<label for="kategorie">Katgegorie:</label>
				   		<select th:field="*{kategorie}" id="kategorie">
					        <option value="" selected>Bitte wählen</option>
					        <option th:each="k : ${kategorien}"
					                th:value="${k}"
					                th:text="${k}">
					        </option>
			    		</select>
			    	</div>
		    	</div>
			</div>
			
			<span class="container_divider"></span>
		   
		   <div class="form_flex">
       			<p class="form_description">Inhalt der Anforderung</p>
       			<div class="input_container">
       				<label for="beschreibung">Beschreibung:</label>
			    	<textarea id="beschreibung" th:field="*{beschreibung}" required></textarea>
					
					<label for="quelle">Quelle der Anforderung:</label>
				    <input type="text" id="quelle" th:field="*{quelle}"  />
				    
				    
				    <label for="notizen">weitere Notizen:</label>
		   			<textarea id="notizen" th:field="*{notizen}" ></textarea>
		  		 </div>
			</div>
		   
			<span class="container_divider"></span>
			<div class="form_flex">
       			<p class="form_description">Validierung & Bezug</p>
       			<div class="input_container">
       				<label for="neuesKriterium">Akzeptanzkriterien</label>
				   	<div id="kriteriencontainer">
						<div th:each="kriterium, iterStat: *{kriterien}"  class="kriterium dynamicInput">
					       
					        <input type="hidden" th:field="*{kriterien[__${iterStat.index}__].id}"/>
					
					        <!-- Weitere Felder -->
					        <input type="text" th:field="*{kriterien[__${iterStat.index}__].beschreibung}" />
					        <button  onclick="loescheKriterium(this.parentElement)"><i class="fa-solid fa-trash"></i></button>
					     </div>
				     </div>
					
					<button type="button" onclick="hinzufuegenKriterium()" value="hinzufuegen" class="kriteriumBtn customBtn">
					<i class="fa-solid fa-plus"></i>
					Neues Kriterium</button>
				
					
       			</div>
       		</div>
			
			
		  <div class="float-right">
		 	<button type="submit" class="secondaryBtn" name="action" value="loeschen" onclick="return confirm('Sind Sie sicher?');">Löschen</button>
		    <button type="submit" class="primaryBtn"  name="action" value="speichern">Anforderung speichern</button>
		    
		   </div>
		</form>
       
     </div>
   