   <!DOCTYPE html>
   <html xmlns:th="http://www.thymeleaf.org">
   <head>
       <title>Anfordung: Edit</title>
   </head>
   <body>
		<h1>Anforderung bearbeiten</h1>
		
   		
   		<form th:action="@{/anforderung/update}" th:object="${anforderung}" method="post">
   			<input type="hidden" th:field="*{id}"/>
		    <label for="title">Name:</label>
		    <input type="text" id="title" th:field="*{title}" required />
		
		    <br/>
		
		    <label for="beschreibung">Beschreibung:</label>
		    <textarea id="beschreibung" th:field="*{beschreibung}" required></textarea>
		    
			<br/>
		
			 <div th:each="kriterium, iterStat : *{kriterien}">
		        <!-- Hidden Input für ID -->
		        <input type="hidden" th:field="*{kriterien[__${iterStat.index}__].id}"/>
		
		        <!-- Weitere Felder -->
		        <input type="text" th:field="*{kriterien[__${iterStat.index}__].beschreibung}" />
		     </div>
		
			
			
		    
		   
		    <button type="submit">Anforderung speichern</button>
		</form>
       
     
   </body>
   </html>