
	
	<div class="contentWrapper">  
		<div class="header">
			<h1>Anforderungübersicht</h1>
			<a th:href="@{/anforderung/edit}" class="new_button primaryBtn">
	       		<i class="fa-solid fa-plus" style="color: #f6f7fb;"></i>
	       		Neu
	       	</a>
		</div>     
		
	      	<div class="card_container">
	      	
		   		<div th:each="anf: ${anforderungen}" class="card">
		   			<div class="card_top">
		   				<span th:text="${anf.title}" class="chip"></span>
		   			</div>
		   			
		   			<div class="card_center">
		   				<h2 th:text="${anf.title}">Titel</h2>
		   				<p th:text="${anf.beschreibung}">Titel</p>
		   			</div>
		   			
		   			<div class="card_bottom">
		   				<div class="creator">
		   					<img th:src="@{${anf.ersteller.profileImagePath}}"/>
		   					<p th:text="'erstellt von '+${anf.ersteller.vorname} "></p>
		   				</div>
			   			<a th:href="@{/anforderung/detail/{id}(id=${anf.id})}" class="button_detail">
			   				Details
			   			</a>
		   			</div>
		   		</div>
		   	</div>
	</div>		
		   			
		   	
	