   <!DOCTYPE html>
   <html xmlns:th="http://www.thymeleaf.org">
   <head>
       <title>neue Anforderung erstellen</title>
   </head>
   <body>
       <h1 th:text="${message}">Anforderung neu</h1>
       
       
       <form th:action="@{/anforderung/save}" th:object="${anforderung}" method="post">
		    <label for="title">Name:</label>
		    <input type="text" id="title" th:field="*{title}" required />
		
		    <br/>
		
		    <label for="beschreibung">Beschreibung:</label>
		    <textarea id="beschreibung" th:field="*{beschreibung}" required></textarea>
		
			<label for="priotiät">Priorität:</label>
		    <input id="priotiät" th:field="*{priotiät}" required></input>
		    
		   <!--   <label for="neuesKriterium">Neues Akzeptanzkriterien</label>
			<input id="neuesKriterium"></input>
			<button type="submit" name="action" value="hinzufuegen">Hinzufügen</button>
			
			<h3>Aktuelle Kriterien:</h3>
			<ul>
			   <li th:each="k : ${kriterienListe}" th:text="${k}"></li>
			</ul>
			-->
		    
		   
		    <button type="submit">Anforderung speichern</button>
		</form>
   </body>
   </html>