
	
	<div class="contentWrapper">  
		<div class="header">
			<h1>Anforderungübersicht</h1>
			<a th:href="@{/anforderung/edit}" class="anf_button">
	       		<i class="fa-solid fa-plus" style="color: #f6f7fb;"></i>
	       		Neu
	       	</a>
		</div>     
		
	      	<div class="anf_container">
	      	
		   		<div th:each="anf: ${anforderungen}" class="anf_info">
		   			<span th:text="${anf.title}" class="anf_chip"></span>
		   			<h2 th:text="${anf.title}">Titel</h2>
		   			<p th:text="${anf.beschreibung}">Titel</p>
		   			<div class="container_bottom">
		   				<div class="creator">
		   					<img th:src="@{${anf.ersteller.profileImagePath}}"/>
		   					<p th:text="'erstellt von '+${anf.ersteller.vorname} "></p>
		   				</div>
			   			<a th:href="@{/anforderung/detail/{id}(id=${anf.id})}">
			   				<button>Details</button>
			   			</a>
		   			</div>
		   			
		   			
		   		</div>
	       </div>
	</div>   
