   <!DOCTYPE html>
   <html xmlns:th="http://www.thymeleaf.org"
>
   <head>
      
        <title th:text="${pageTitle}">Standardtitel</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
	    <link rel="stylesheet" th:href="@{/css/style.css}"/>
	    <link rel="stylesheet" th:if="${additionalCss != null}" 
	           th:href="@{${additionalCss}}" />
        <link rel="stylesheet" th:if="${additionalCss != null}" 
        th:href="@{${additionalCss2}}" />
		<script src="https://kit.fontawesome.com/8f1aeb96f2.js" crossorigin="anonymous"></script>
		<th:block th:if="${additionalJs != null}">
		    <script th:src="@{${additionalJs}}"></script>
		</th:block>
   </head>
   <body>
		 <nav>
       		<div class="logo_container">
       			<i class="fa-solid fa-scroll fa-xl" style="color: #131416;"></i>
       			<p class="collapsible">Require4Testing</p>
       		</div>
       		<div class="link_container">
       			<p>Overview</p>
       			<ul class="link_list">
       				<li class="list_items">
       					<a>
       						<i class="fa-solid fa-house" style="color: #051759;"></i>
       						<span class="collapsible">Dashboard</span>
       					</a>
       				</li>
       			
       			
       				<li class="list_items">
       					<a th:href="@{/anforderung/all}">
       						<i class="fa-solid fa-clipboard-check" style="color: #051759;"></i>
       						<span class="collapsible">Anforderungen</span>
       					</a>
       				</li>
       			
       			
       				<li class="list_items">
       					<a th:href="@{/test/all}">
							<i class="fa-solid fa-list-ul" style="color: #051759;"></i>       		
							<span class="collapsible">Testfälle</span>
       					</a>
       				</li>
       			
       			
       				<li class="list_items">
       					<a th:href="@{/anforderung/all}">
       						<i class="fa-solid fa-play" style="color: #051759;"></i>
       						<span class="collapsible">Testläufe</span>
       					</a>
       				</li>
       			</ul>
       		</div>
       		
       		<a th:href="@{/}">
       			<i class="fa-solid fa-users" style="color: #051759;"></i>
			   	Nutzer wechseln
			</a>
       </nav>
       <!-- Platz für den Inhalt -->
    	 <div th:replace="${mainContent}"></div>
       
     
   </body>
   </html>