   <!DOCTYPE html>
   <html xmlns:th="http://www.thymeleaf.org">
   <head>
       <title>Test: Details</title>
   </head>
   <body>
		<h1>TestDetails</h1>
		<p th:text="${testNummer}">name</p>
   		<h2 th:text="${test.title}">name</h2>
   		
   		<h3>Beschreibung</h3>
   		<p th:text="${test.beschreibung}"></p>
   		
   		
   		
   		<h3>Testschritte</h3>
   		<div th:each="s: ${schritte}">
   			<p th:text="${s.stepNumber}"></p>
   			<p th:text="${s.beschreibung}"></p>
   		</div>
   		
   		<h3>Erwartetes Ergebnis</h3>
   		<p th:text="${test.erwartetesErgebnis}"></p>
   		
   		<h3>Anforderung</h3>
   		<p th:text="${test.anforderung} ? ${test.anforderung.beschreibung} : 'nicht ausgewählt'"></p>
   		
   		
   		
			
			
       
       	<a th:href="@{/test/edit/{id}(id=${test.id})}">
       		<button>Änderungen</button>
       	</a>
       	
       	<form th:action="@{/test/delete/{id}(id=${test.id})}" method="post">
		    <input type="hidden" name="_method" value="delete"/>
		    <button type="submit" onclick="return confirm('Sind Sie sicher?');">Löschen</button>
		</form>
   </body>
   </html>