   <!DOCTYPE html>
   <html xmlns:th="http://www.thymeleaf.org">
   <head>
       <title>neue Anforderung erstellen</title>
       <script type="text/javascript" th:src="@{/script.js}"></script>
       
      
   </head>
   <body>
      
       <form th:action="@{/test/save}" th:object="${test}" method="post">
       		
       		<input type="hidden" name="erstellerId" th:value="${currentUser.id}" />
       		
       		
       		<label for="title">Zugewiesen an</label>
		    <input type="text" id="title" th:field="*{title}" required />
       	    
		    <label for="title">Name:</label>
		    <input type="text" id="title" th:field="*{title}" required />
		
		    <br/>
		
		    <label for="beschreibung">Beschreibung:</label>
		    <textarea id="beschreibung" th:field="*{beschreibung}"></textarea>
		    <br/>
		    
		    <label>Testschritte</label>
		    <div id="stepContainer"></div>
		   	<button type="button" id="addStepButton" >Neuen Schritt hinzufügen</button>
		   	<input type='hidden' id='reihenfolge' name='reihenfolge'/>
		   	
		 
			 <br/>
			 
		   	<label for="ergebnis">Erwartetes Ergebnis:</label>
		    <textarea id="ergebnis" th:field="*{erwartetesErgebnis}"></textarea>
		    
			<br/>
			
		   	<label for="verlinkteAnf">Verlinkte Anforderung:</label>
		   	<select th:field="*{anforderung.id}" id="verlinkteAnf">
		        <option value="" disabled selected>Bitte wählen</option>
		        <option th:each="a : ${anforderungen}"
		                th:value="${a.id}"
		                th:text="${a.title}">
		        </option>
		    </select>
	
		   	<br/>
		    <button type="submit">Test speichern</button>
		</form>
		
		
		
   </body>
   </html>