<div class="contentWrapper"> 

	
		<h1>Testlauf erstellen</h1>
	
	
	<form th:action="@{/testlauf/handleForm}" th:object="${testlaufDto}" method="post" class="edit_form">
		 <input type="hidden" name="erstellerId" th:value="${currentUser.id}" />
		 <input type="hidden" th:if="${testlaufDto.id != null}" th:field="*{id}"/>
		 
		
		<div class="form_flex">
      			<p class="form_description">Allgemeine Informationen</p>
      			<div class="input_container two-column">
      				<div th:if="${testlaufDto.id != null}">
					    <p th:text="${testlauf.nr}" class="chip"></p>
	   				</div>   				
	   				<div class="creator" th:if="${testlaufDto.id != null}">
	   					<img th:src="@{${testlauf.ersteller.profileImagePath}}"/>
	   					<p th:text="'erstellt von '+${testlauf.ersteller.vorname} "></p>
			   		</div>  
      			
      				<div class="block">
	       				<label for="title">Name:</label>
			    		<input type="text" id="title" th:field="*{title}" />
			    		<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></div>
	    			</div>
	    		
		    		<div class="block">
	       				<label for="beschreibung">Beschreibung:</label>
			    		<textarea type="text" id="beschreibung" th:field="*{beschreibung}" ></textarea>
			    		<div th:if="${#fields.hasErrors('beschreibung')}" th:errors="*{beschreibung}" class="error"></div>
		    		</div>
      			</div>
     		</div>
       		
       	<span class="container_divider"></span>
       		
       	
		<div class="form_flex">
      			<p class="form_description">Kommentare und Umgebung</p>
      			<div class="input_container">
      				<div>
	       				<label for="umgebung">Testumgebung:</label>
			    		<textarea type="text" id="umgebung" th:field="*{testumgebung}"></textarea>
			    		<div th:if="${#fields.hasErrors('testumgebung')}" th:errors="*{testumgebung}" class="error"></div>
		    		</div>
		    		<div>
	       				<label for="kommentar">Kommentare:</label>
			    		<textarea type="text" id="kommentar" th:field="*{kommentar}" ></textarea>
			    		<div th:if="${#fields.hasErrors('kommentar')}" th:errors="*{kommentar}" class="error"></div>
		    		</div>
      			</div>
     		</div>
     		
     	<span class="container_divider"></span>
	
	
		<div class="form_flex">
      			<p class="form_description">Status & Verantwortlichkeit</p>
      			<div class="input_container two-column">
      				<div>
	       				<label for="tester">zugeordnerter Tester:</label>
					   	<select th:field="*{tester.id}" name="testerId" id="tester">
					        <option value=""  selected>Bitte wählen</option>
					        <option th:each="t : ${testerListe}"
					                th:value="${t.id}"
					                th:text="${t.vorname}">
					        </option>
					    </select>
					    <div th:if="${#fields.hasErrors('tester')}" th:errors="*{tester}" class="error"></div>
					   <div th:if="${errorMessage}" style="color:red;">
						    <p th:text="${errorMessage}"></p>
						</div>
					    
		    		</div>
		    		<div>
	       				<label for="status">Status:</label>
					   	<select th:field="*{status}" id="status">
					        <option value=""  selected>Bitte wählen</option>
					        <option th:each="s : ${status}"
					                th:value="${s.id}"
					                th:text="${s.beschreibung}">
					        </option>
					    </select>
		    		</div>
      			</div>
     		</div>
     		
     		<span class="container_divider"></span>
     		
     		  <div class="form_flex">
      			<p class="form_description">Verknüpfte Tests</p>
      			<div class="input_container">
      				<div id="testContainer"  >
      					<div th:attr="data-test-id=${t.id}" th:each="t : ${selectedTests}" class="test">
	      					<p class="test-text"  th:text="${t.nr}+ ' '+${t.title}"></p>
							<button type="button" onclick="removeTest(this)" class="deleteTestBtn"><i class="fa-solid fa-trash"></i></button>
						</div>
      				</div>
      				<div class="scrollable">
      				<div class="testOption"  th:each="t : ${alleTests}">
      					
      					<input type="checkbox" th:value="${t.id}" th:text="${t.nr}+ ' '+${t.title}"  onchange="toggleTest(this)" class="checkbox"/>
      				</div>
      				</div>
      				<input type="hidden" id="checkedInputs"  th:field="*{checkedInputs}"/>
      				<div th:if="${#fields.hasErrors('checkedInputs')}" th:errors="*{checkedInputs}" class="error"></div>
      				
      			</div>
     		</div>
     		
     		
			
			<div class="float-right">
			 	<button th:if="${testlaufDto.id != null}" type="submit" class="secondaryBtn" name="action" value="loeschen" onclick="return confirm('Sind Sie sicher?');">Löschen</button>
			    <button type="submit" class="primaryBtn"  name="action" value="speichern">Testfall speichern</button>
			    
			   </div>
	</form>
 </div>
 
 

	       				
		    		