<div class="contentWrapper testrun_uebersicht">  

	<div class="header">
		<h1>Testübersicht</h1>
		<a th:href="@{/testlauf/edit}" class="new_button primaryBtn">
       		<i class="fa-solid fa-plus" style="color: #f6f7fb;"></i>
       		Neu
	    </a>
	</div>

	<div class="table_container">
		<table>
			<tr class="table_header">
				<th>Nr</th>
				<th>Titel</th>
				<th>Testfälle</th>
				<th>Status</th>
				<th>Tester</th>
				<th> </th>
			</tr>
		    <tr th:each="testlauf : ${testlaeufe}">
		        <td th:text="${testlauf.nr}" class="col1">...</td>
		        <td th:text="${testlauf.title}" class="col2">...</td>
		        
		        <td class="col3">
			        <th:block th:if="${testlauf.tests == null or testlauf.tests.size() == 0}">
					    <p class="empty">kein Inhalt</p>
					</th:block>
					
					<th:block th:if="${testlauf.tests != null and testlauf.tests.size() > 0}" th:each="test : ${testlauf.tests}">
					   <div class="test_connection">
					    
					    <p th:text="${test.nr}+ ' '+${test.title}"></p>
					    </div>
					</th:block>
				</td>
				
				
		       
	            <td th:text="${testlauf.status}?${testlauf.status.beschreibung}" class="col4">...</td>
	            
	            <td class="col5">
		            <th:block th:if="${testlauf.tester != null}">
					    <div class="creator"> 
					    	<img th:src="@{${testlauf.tester.profileImagePath}}"/>
					    	<p th:text="${testlauf.tester.vorname}"></p>
					    </div>
	   						
						
					</th:block>
					<th:block th:if="${testlauf.tester == null}">
					    <p class="empty">kein Inhalt</p>
					</th:block>
				</td>
	            
	            <td class="col6">
	            	<a th:href="@{/testlauf/detail/{id}(id=${testlauf.id})}">
						>
					</a>
				</td>
		    </tr>
		</table>
	
	</div>
</div>