   <!DOCTYPE html>
   <html xmlns:th="http://www.thymeleaf.org">
   <head>
       <title>Test: Edit</title>
       <script type="text/javascript" th:src="@{/script.js}"></script>	
   </head>
   <body>
		<h1>Test bearbeiten</h1>
		
   		
   		<form action="#" th:action="@{/test/update/{id}(id=${test.id})}" th:object="${testDto}" method="post">
		    <label for="title">Name:</label>
		    <input type="text" id="title" th:field="*{title}" required />
		
		    <br/>
		    
		    <div th:if="${isManager}">
		    	<label for="tester">Test zuweisen:</label>
       			<select th:field="*{tester}" id="Tester">
			        <option value="" selected>Bitte wählen</option>
			        <option th:each="t : ${moeglicheTester}"
			                th:value="${t.id}"
			                th:text="${t.name}">
			        </option>
		    </select>
       		</div>
		
		    <label for="beschreibung">Beschreibung:</label>
		    <textarea id="beschreibung" th:field="*{beschreibung}" required></textarea>
		    
		    <br/>
		    
		    <label>Testschritte</label>
		    <div id="stepContainer" >
		    	<div class="schritte"  th:each="schritt, iterStat : *{testschritte}"  draggable="true">
			    	<input type="hidden" th:field="*{testschritte[__${iterStat.index}__].id}"/>
			        <input type="hidden" th:value="${test.testschritte[__${iterStat.index}__].stepNumber}" class="schritt"/>
			        <input type="text" th:field="*{testschritte[__${iterStat.index}__].beschreibung}"  class="schrittvalue" oninput="updateReihenfolge()"/>
		       		<button type="button" onclick="deleteSchritt(this.parentElement)">Entfernen</button>
		    	</div>
	        </div>
		    
		    <br/>
		    
		   	<button type="button" id="addStepButton" >Neuen Schritt hinzufügen</button>
		   	<input type='hidden' id='reihenfolge' name='reihenfolge'/>
		   	
		   	<br/>
		   	
		   	<label for="ergebnis">Erwartetes Ergebnis:</label>
		    <textarea id="ergebnis" th:field="*{erwartetesErgebnis}"></textarea>
		   	
		   	<br/>
		   	
			<label for="anforderung">Anforderung auswählen:</label>
		    <select th:field="*{anforderung.id}">
		        <option value="" disabled selected>Bitte wählen</option>
		        <option th:each="a : ${anforderungen}"
		                th:value="${a.id}"
		                th:text="${a.beschreibung}">
		        </option>
		    </select>
		    
		    <br/>
		   
		    <button type="submit">Test speichern</button>
		   
		</form>
		
		<form th:action="@{/test/delete/{id}(id=${test.id})}" method="post">
		    <input type="hidden" name="_method" value="delete"/>
		    <button type="submit" onclick="return confirm('Sind Sie sicher?');">Löschen</button>
		</form>
	
		
       
     
   </body>
   </html>