<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
	 <head>
	     <title>Nutzer wählen</title>
       <script type="text/javascript" th:src="@{/js/user.js}"></script>
	    
	 </head>
	 <body>
	     <div class="welcome-container">
	     	<h1>Wähle deine Nutzer-Rolle</h1>
	     	
	     	
	     	<form th:action="@{/user/selectRole}" th:object=${user} method="post">
	     	<div class="scrollmenu">
	     		<div th:each="user : ${users}" class="user-info" th:data-user-id="${user.id}">
	     			
	     			<h3 th:text="${user.name}"></h3>
					<div th:each="r : ${user.roles}" class="roles">
						<p th:text="${r.name}"></p>
					</div>
	     			<img th:src="@{${user.profileImagePath}}"/>
	     			
	     		</div>
		    
	     	</div>
			<input type="hidden" name="selectedUserId" id="selectedUserId" />
		    <button type="submit">Test speichern</button>
		</form>
	     	
	     	
	     	
	     </div>
	     
	     
	     
	     
		
	
	 </body>
 </html>